* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
scroll-behavior: smooth;
}

    .wrapper {
        width: 100%;
    }

  body {
    max-width: 100%;
    margin: 0 auto;
   
  }

  header {
      width: 375px;
      height: 40px;
      
  }

  main {             
background: white;
width: 100%;
margin: 0px auto;
display: inline-block;
}

  img { 
margin: 0 auto; 
max-width: 100%;

}

  .main-nav {
      display: none;
  }

  .logo {
font-family: 'Bungee Shade', cursive;
font-size: 15px;
color: rgb(53, 45, 45);
display: inline-block;
margin-top: 0.75rem;
margin-left: 5px;
text-align: left;
}


nav {
  color: rgb(80, 77, 77)
}

nav i {
  z-index: 600;
}

a {
  text-decoration: none;
}

.menu {
  font-size: 1.2rem;
  position: absolute;
  right: 17px;
  top: 11px;
}

.hidden {
  display: none;
}

.drop-down {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 500;
  list-style: none;
  height: fit-content;
  width: 110px;
  font-size: 0.7rem;
  font-family: 'Bungee Shade', cursive;
  background-color: #e9b8d3;
  border-radius: 5px;
  padding-top: 40px;
  margin-bottom: 10px;
  padding: 15px;
}

.drop-down li:hover {
  opacity: 0.5;
}

.drop-down li {
  text-emphasis: 2rem;
  color: white;
  text-align: left;
  line-height: 1.5rem;
}



#background-img1 {
margin: 0 auto;
width:100%;
display: inline-block;
filter: grayscale(100%);
}

#background-img1:hover, 
.background-img2:hover {
    filter: grayscale(0%);
}



.background-img2{
margin: 0 20px;
width: 35%;
filter: grayscale(100%);
display: flex;
}



.text-column {
   font-family: 'Courier New', Courier, monospace;
   color: rgb(2, 2, 2);
   line-height: 1.5;
   margin: 2rem;
   font-size: 10px;
   height: 200px;
   width: 275px;
   
}

.text-column::first-line {
    color: palevioletred; 
    font-size: 25px;
    font-family: 'Bungee Shade', cursive;
    
}

#about {
width: 100%;
display: grid;
 /* display: inline-block;  */
 /* position: relative; */
  height: 40rem;
  margin: 0px auto;
text-align: center;
 background-color: rgb(223, 217, 217);
place-items: center;
  }


.about-container {
display: grid;
place-items: center;
grid-template-columns: repeat(4, 93.75px);
grid-template-rows: repeat(2, 15rem);
}

.about1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.about2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(237, 230, 230);
   border-radius: 20%;
   height: 220px;
}

#about-img {
border-radius: 50%;

}

.aboutbutton {
    background-color: rgb(203, 143, 153);
    width:130px;
     display: inline-block;
     border: 1px solid rgb(174, 106, 117);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    border-radius: 15%;
    padding: 5px;
    margin-top:2px;
}

.aboutbutton:hover {
width:135px;
height:35px;
background-color: rgb(205, 111, 127);
font-size: 15px;


}

#projects {
width: 100%;
margin-top: 2rem;
}

.projectsgrid_container {
width: 100%;
display: grid;
justify-content: center;
margin-top: 2rem;
}

.text-column1 {
    font-size: 15px;
    font-family: 'Bungee Shade', cursive;
    color: rgb(107, 103, 105);
    margin-bottom: 3rem;
    margin-left: 2rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
grid-template-rows: repeat((auto-fill)(2, 8rem));
  grid-gap: 1rem; 
 
}



.projects-item:hover {
filter: grayscale(0%);
opacity: 0.5;
} 


.text-column2 {
    font-size: 15px;
    font-family: 'Bungee Shade', cursive;
    color:rgb(53, 45, 45);
    margin-bottom: 3rem;
    margin-left: 2.5rem;
}

#portfolio {
width: 100%;
display: grid;
justify-content: center;
margin-top: 4rem;
}


.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
grid-template-rows: repeat(2, 8rem);
  grid-gap: 3rem; 
   
}

.project-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.item {
    background-color:rgb(219, 128, 143);
}



#portfolio__column2 p::first-line {
    color: palevioletred; 
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    
}


  .imgcontainer {
      display: none;
  }

  
  
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}


@keyframes caret {
  50% {
    border-color: transparent;
  }
}

footer {
    font-family: 'Mukta', sans-serif;
    background:  rgb(237, 230, 230);
    height: 50px;
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    
}

#footer__p {
margin-left: 10px;
margin-bottom: 10px;
display: inline-block;
width: 90%;
font-family: 'Courier New', Courier, monospace


}

#footer-nav {
font-size: 15px; 
display: inline-block;

}

#footer-nav__item {
list-style: none; 
margin-top: 10px;


}

.footer-nav__items {
width: 20px;
height: 20px;
}

  


/* DESKTOP  */


@media only screen and (min-width: 1193px) {

    #about {
width: 100%;
height: 40rem;
display: grid;
margin-top: 7rem;
 background-color: rgb(126, 122, 122)
}



.text-column {
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   color: rgb(2, 2, 2);
   line-height: 1.5;
   margin: 2rem;
   text-align: center;
   margin-left:2rem;

}

.text-column::first-line {
    color: palevioletred; 
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
}

.about-container {
display: grid;
grid-template-columns: repeat(12, 8rem);
grid-template-rows: 0;
  grid-gap: 3rem;
  

}

.about1 {
    
   grid-column-start: 2;
   grid-column-end: 4;
     
}

.about2 {
    grid-column-start: 4;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 1;
    background-color: rgb(74, 73, 73);
    height: 320px;
    width: 450px;
text-align: center;
    
}

}

@media only screen and (min-width: 957px) { 
.main-nav {
    font-size: 18px;
    font-family: 'Bungee Shade', cursive;
    color: black;
    display: inline-block;
   width: calc(100% - 400px);
   text-align: right;
    
}

.main-nav__item {
    display: inline-block;
    
}

.main-nav__items {
      display: inline-block;
      padding: 0px 15px;
      list-style: none; 
}

 .main-nav__item a{ 
        text-decoration: none;
        color: black;
    }

    .main-nav__item a:hover,
    .main-nav__item a:active   { 
    color: palevioletred;
    transition: color .6s;
    }

nav {
        display: none;
    }

.logo {
font-family: 'Bungee Shade', cursive;
font-size: 30px;
color:  rgb(53, 45, 45);
display: inline-block;
margin-left: 50px;
width: 300px;
}

    #about {
width: 100%;
height: 35rem;
display: grid;
margin-top: 7rem;
 background-color: rgb(223, 217, 217);
}



.text-column {
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   color: rgb(2, 2, 2);
   line-height: 1.5;
   margin: 2rem;
   text-align: center;
   margin-left:5rem;

}

.text-column::first-line {
    color: rgb(53, 45, 45); 
    font-size: 35px;
    font-family: 'Bungee Shade', cursive;
}

.about-container {
display: grid;
grid-template-columns: repeat(10, 8rem);
grid-template-rows: 0;
  grid-gap: 3rem;
  

}

.about1 {
   grid-column-start: 2;
   grid-column-end: 4;
     
}

.about2 {
    grid-column-start: 4;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 1;
    background-color: rgb(237, 230, 230);
    height: 350px;
    width: 450px;
text-align: center;
    
}

.aboutbutton {
    margin-top: 30px;
}

#projects {
width: 100%;
margin-top: 6rem;
}

.projectsgrid_container {
width: 100%;
display: grid;
justify-content: center;
margin-top: 5rem;
}

.text-column1 {
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    color: rgb(107, 103, 105);
    margin-bottom: 3rem;
    margin-left: 10rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
grid-template-rows: repeat((auto-fill)(2, 20rem));
  grid-gap: 3rem; 
 
}



@media only screen and (min-width: 400px) {
    .about1 {
      width: 340px;  
    }
   
}

@media only screen and (min-width: 700px) { 

.wrapper {
height: auto; 
margin: 0 auto; 
} 


header {
margin-top: 25px;
margin-bottom: 25px;
display: inline-block;
width: 100%;

}

.menu {
  font-size: 2rem;
  position: absolute;
  right: 17px;
  top: 11px;
}

nav {
  color: rgb(80, 77, 77)
}

nav i {
  z-index: 600;
}

a {
  text-decoration: none;
}

.menu {
  font-size: 1.2rem;
  position: absolute;
  right: 17px;
  top: 11px;
}

.hidden {
  display: none;
}

.drop-down {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 500;
  list-style: none;
  height: fit-content;
  width: 195px;
  font-size: 1.2rem;
  background-color: #54b6c7;
  border-radius: 5px;
  padding-top: 40px;
  padding: 15px;
}

.drop-down li:hover {
  opacity: 0.5;
}

.drop-down li {
  text-emphasis: 2em;
  color: white;
  text-align: left;
  line-height: 1.5rem;
}


.logo {
font-size: 30px;
margin-left: 50px;
width: 300px;
}

.about1 {
    width: 300px;
}

#background-img1 {
margin: 0 auto;
width:100%;
display: inline-block;
filter: grayscale(100%);
}

#background-img1:hover, 
.background-img2:hover {
    filter: grayscale(0%);
}

.imgcontainer {
display: flex;
flex: row;
justify-content: center;
margin: 40px 0 10px 0;
width: 100%

}

.background-img2{
margin: 0 20px;
width: 35%;
filter: grayscale(100%);
display: flex;
}


#projects {
width: 100%;
margin-top: 6rem;
}

.projectsgrid_container {
width: 100%;
display: grid;
justify-content: center;
margin-top: 5rem;
}

.text-column1 {
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    color:rgb(53, 45, 45);
    margin-bottom: 3rem;
    margin-left: 10rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
grid-template-rows: repeat((auto-fill)(2, 20rem));
  grid-gap: 3rem; 
 
}


.projects-item:hover {

} 



#portfolio {
width: 100%;
display: grid;
justify-content: center;
margin-top: 5rem;
}


.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
grid-template-rows: repeat(2, 20rem);
  grid-gap: 3rem; 
}




footer {

    height: 50px;
    width: 100%;
    margin-top: 40px;
    display: inline-block; 
}

#footer__p {
margin-left: 40px;
margin-bottom: 20px;
display: inline-block;
width: 90%;
font-family: 'Courier New', Courier, monospace
}

#footer-nav {
font-size: 15px; 
display: inline-block;
}

#footer-nav__item {
list-style: none; 
margin-top: 10px;
}

.footer-nav__items {
width: 30px;
height: 30px;
}


}





}